%section#hero.light-bg.img-bg-bottom.img-bg-softer{style: "background-image: url(#{asset_path 'pages/about/hero_01.jpg'});"}
  .container.inner
    .row
      .col-md-8.col-sm-9
        %header
          %h1 About us
