%section#imprint
  .container.inner-sm
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %h1 Imprint
        %p Innovation Centre for Mobility and Societal Change (InnoZ) GmbH
        %p EUREF-Campus 16, 10829 Berlin
        %p
          +49(0)30 23 88 84-0
          |
          = mail_to 'info@innoz.de'
        %hr/
        %p Management: Dr. Jürgen Peters, Prof. Dr. Andreas Knie
        %p Jurisdiction: AG Berlin Charlottenburg
        %p Commercial register ID: HRB 102507 B
        %p Tax ID: 29/001/61343
        %p VAT-ID: DE248939551
        %p Disclamer: The InnoZ is not responsible for the content of off-site pages referenced.
