%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} InnoZ Rails Template
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "/ahp_major"} AHP

%h1 Welcome to the InnoZ Rails 5 template!
.glyphicon.glyphicon-hand-up

