%section#imprint
  .container.inner-sm
    .row
      .col-md-8.col-sm-9.center-block.text-center
        %h1 Data Privacy Policy
        %p Our website  may be used without entering personal information. Different rules may apply to  certain services on our site, however, and are explained separately below. We  collect personal information from you (e.g. name, address, email address,  telephone number, etc.) in accordance with the provisions of German data  protection statutes. Information is considered personal if it can be associated  exclusively to a specific natural person. The legal framework for data  protection may be found in the German Federal Data Protection Act (BDSG) and the  Telemedia Act (TMG). The provisions below serve to provide information as to  the manner, extent and purpose for collecting, using and processing personal  information by the provider.
        %p
          %strong Innovation Centre for Mobility and Societal Change (InnoZ) GmbH
        %p
          %strong EUREF-Campus 16, 10829 Berlin
        %p
          %strong +49(0)30 23 88 84-0
        %p
          %strong info@innoz.de
        %p Please be  aware that data transfer via the internet is subject to security risks and,  therefore, complete protection against third-party access to transferred data  cannot be ensured.
        %h3 Information / Cancellation / Deletion
        %p On the basis  of the Federal Data Protection Act, you may contact us at no cost if you have  questions relating to the collection, processing or use of your personal  information, if you wish to request the correction, blocking or deletion of the  same, or if you wish to cancel explicitly granted consent. Please note that you  have the right to have incorrect data corrected or to have personal data  deleted, where such claim is not barred by any legal obligation to retain this  data.
