/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require jquery-ui
 *= require bootstrap_loader
 *= require template_styles
 *= require owl.carousel
 *= require owl.transitions
 *= require animate.min
 *= require aos
 *= require fontello
 *= require blue
 *= require mapbox
 */

 .navbar-brand-mobile img {
   height: 40px;
 }

 .navbar-collapse.collapsing li {
   float: none;
 }

 .navbar-collapse {
   padding-top: 15px;
 }

 .active-navbar-li {
  a {
    color: #3F8DBF !important;
    font-size: 101% !important;
  }
}

@media (min-width: 1025px) {
  .navbar-collapse.collapse {
    padding-bottom: 15px;
  }
}

.btn {
  border-radius: 0;
}

footer {
  .logo {
    width: 80%;
  }
}

// for lists with glyphicons on each line start
.icon-list-table {
  th {
    font-weight: normal;
  }
  .table-icon-cell {
    vertical-align: top;
    padding-right: 10px;
  }
}
